.button {
    border-radius: 4px;
    background-color: rgb(51, 212, 51);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

img {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

table {
    position: absolute;
    left: 30%;
    display: block;
}

.win {
    display: none;
    position: absolute;
    left: 30%;
    top: 20%
}

.restart {
    display: none;
    position: absolute;
    left: 40%;
    border-radius: 4px;
    background-color: rgb(51, 212, 51);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.restart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.restart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.restart:hover span {
    padding-right: 25px;
}

.restart:hover span:after {
    opacity: 1;
    right: 0;
}

body {
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}